body {
	background-color: #1b1a1b;
}
#frame {
	width: 580px;
	height: 520px;
	background: url(../img/frame.jpg) no-repeat;
	margin: 30px auto;
	overflow: hidden;
	padding: 0;
}
#screen {
	width: 466px;
	height: 349px;
	margin-left: 57px;
	margin-top: 52px;
	/*overflow: hidden; */
	position: relative;
	padding: 0;
}
#slides {
	margin: 0;
	padding: 0;
	height: 349px;
}
#screen .nav_arrow {
	width: 60px;
	height: 60px;
	/*background: url(../img/arrows.png) no-repeat;*/
	display: none;
	position: absolute;
	top: 150px;
	z-index: 9999;
}
#screen #prev {
	/* background-position: ; */
	left: 5px;
	background: url(../img/prev.png);
}
#screen #prev a {
	display: block;
	margin: 0;
	height: 60px;
	text-indent: -9999px;
}
#screen #prev a:focus {
	outline: none;
}
#screen #next {
	/*background-position: -30px 0;*/
	right: 5px;
	background: url(../img/next.png);
}
#screen #next a {
	display: block;
	margin: 0;
	height: 60px;
	text-indent: -9999px;
}
#screen #next a:focus {
	outline: none;
}

#pager {
	width: 200px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}
#pager a { 
	border: 1px solid #ccc; background: #fc0; text-decoration: none; margin: 0 5px; padding: 3px 5px;
}
#pager a.activeSlide { 
	background: #ea0
}
#pager a:focus { 
	outline: none;
}

